Flask==2.3.3
boto3==1.28.62
Flask-APScheduler==1.13.0
google-cloud-storage==2.10.0
google-cloud-compute==1.14.0
azure-identity==1.15.0
azure-mgmt-resource==23.0.1
azure-mgmt-compute==30.0.0
azure-mgmt-storage==21.0.0
botocore==1.31.62
